<%- include("partials/header") %>
    <div class="content-part">
        <h1>
            About US
        </h1>
        <p>
            <%= about %>
        </p>
    </div>
    <%- include("partials/footer") %>