<%- include("partials/header") %>
    <div class="content-part">
        <h1>
            Contact Us
        </h1>
        <p>
            <%= contact %>
        </p>
    </div>
    <%- include("partials/footer") %>